@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto;
    margin: 0;
}

.header {
    background-color: #1F2937;
    /* TODO
    padding: 15px 250px;
    */
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-links {
    display: flex;
    gap: 20px;
}

.header-links a, .footer, .hero-second, .right, .buttons {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.footer {
    background-color: #1F2937;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
}

.signup {
    display: flex;
    /* justify-content: space-between; */
    background-color: #1F2937;
    /* TODO
    padding: 50px 250px;
    */
    padding: 50px 40px;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.left {
    flex: 1;
    padding-right: 15px;
}

.right {
    background-color: #6D747D;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    background-color: #3882F6;
    margin-top: 8px;
    font-weight: 700;
    border-radius: 8px;
    padding: 10px 35px;
}

.images {
    padding-top: 45px;
    padding-bottom: 100px;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.image-list {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.image-boxes {
    border: 4px solid #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 12px;
}

.info-text {
    font-size: 16px;
    color: #1F2937;
    width: 150px;
    text-align: center;
    padding-top: 10px;
}